[2021-07-30 19:57] tamirbennatan opened #17 "Vertex-AI Feature Store can't do batch serving from BigQuery as stated in documentation"
I'm following [this documentation](https://cloud.google.com/vertex-ai/docs/featurestore/serving-batch#batch_serving_inputs) and [this example notebook](https://github.com/GoogleCloudPlatform/ai-platform-samples/blob/master/ai-platform-unified/notebooks/official/feature_store/gapic-feature-store.ipynb) to try and do batch serving using Vertex-AI feature store.

My mapping between label and entity_i

[2021-07-30 20:37] #17 closed

[2021-07-30 20:37] tamirbennatan commented on #17
I was using an old version of ai-platform where this was not yet implemented.

[2021-08-03 15:56] tamirbennatan opened #18 "Can't cancel LRO for batch ingestion after deleting entity type / featurestore"
## Expected Behavior

Feature Store Batch Ingestion: I would expect to be able to cancel a batch ingestion job, either through the web UI or through the REST API.

## Actual Behavior

I tried to cancel the operations through the rest API and got the response:

[code]
I tried to delete the entity type and then the featurestore in order to force the ingest job to stop, but it's still running. The on

[2021-08-19 16:46] ivanmkc opened #31 "model_monitoring notebook is flaky"
**Describe the bug**
model_monitoring notebook is flaky

[code]

**What sample is this bug related to?**

**Source code / logs**
Include any logs or source code that would be helpful to diagnose the problem. If including tracebacks, please include the full traceback. Large logs and files should be attached. Try to provide a reproducible test case that is the bare minimum necessary to generate the

[2021-08-25 04:45] forking-renovate[bot] opened #42 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [chore(deps): update dependency pyupgrade to v3.15.0](../pull/2314)
 - [ ] [chore(deps): update python docker tag t

[2021-08-30 15:56] ivanmkc opened #50 "Notebook fails: lightweight_functions_component_io_kfp.ipynb"
## Expected Behavior
Notebook doesn't fail

## Actual Behavior
[code]

[2021-08-30 16:01] andrewferlitsch commented on #50
That error was already fixed early last week and merged into master. This is some earlier version of the notebook. I did double check on master that this notebook indeed has the fix.

[2021-08-30 16:04] ivanmkc commented on #50
Okay, closing as we discusssed.

[2021-08-30 16:04] #50 closed

[2021-09-10 07:36] forking-renovate[bot] opened #61 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `renovate.json`
Error type: Invalid JSON (parsing failed)
Message: `Syntax error near ,
  ],

}
`

[2021-09-13 23:26] ivanmkc opened #64 "lightweight_functions_component_io_kfp fails"
[code]

[2021-09-22 02:35] myoshimu opened #71 "Authentication process needed for automl-text-classification.ipynb"
## Expected Behavior
I tried to run [the sample notebook](https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/master/notebooks/official/automl/automl-text-classification.ipynb) of Vertex AI AutoML text classification model.

## Actual Behavior
This notebooks has no authentication process so the user can not access the GCP resources.

## Steps to Reproduce the Problem
1. [Open the noteboo

[2021-09-30 21:26] ivanmkc opened #81 "Colab link (among others) broken on https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/master/notebooks/official/pipelines/pipelines_intro_kfp.ipynb"
See https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/master/notebooks/official/pipelines/pipelines_intro_kfp.ipynb

[2021-09-30 21:46] ivanmkc opened #82 "pipelines_intro_kfp.ipynb has problems on Colab"
`if not os.environ["IS_TESTING"]` should be `if not os.getenv("IS_TESTING"):`

[2021-10-04 22:41] nicain commented on #71
I just opened the notebook, and it worked without any problems.  So far I cannot reproduce.

[2021-10-04 23:02] nicain opened #87 "Default branch transition to main"

[2021-10-05 18:47] amd-ggonzale opened #89 "README.md "Tutorials" Hyperlink Broken"
## Expected Behavior
Hyperlink takes you to the "Tutorials" section.

## Actual Behavior
Receive a 404 error.

Hyperlinked path:  https://github.com/GoogleCloudPlatform/vertex-ai-samples/tree/master/tutorials

## Steps to Reproduce the Problem
1.  Click on the "Tutorials" link and it takes you to a tutorials section

## Specifications

- Version:  N/A
- Platform:  N/A

[2021-10-06 16:36] nicain commented on #71
fix: https://github.com/GoogleCloudPlatform/vertex-ai-samples/pull/88

[2021-10-06 16:36] #71 closed

[2021-10-11 20:17] stevewalker-de opened #95 "control_flow_kfp fails to open in colab or GCP notebook"
https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/master/notebooks/official/pipelines/control_flow_kfp.ipynb

Errors out with JSON error in colab and Vertex notebook.

[2021-10-26 01:33] CloudMarc opened #118 "Failed to pick channel; failed to connect to all addresses"
## Expected Behavior
In "Test your query" cell of notebook, a Match is expected to be returned

## Actual Behavior
---------------------------------------------------------------------------
_InactiveRpcError                         Traceback (most recent call last)
/tmp/ipykernel_19870/467153318.py in <module>
    108     request.float_val.append(val)
    109
--> 110 response = stub.Match(request

[2021-11-03 22:45] candicehou07 opened #126 "Using model.resource_name and endpoint.resource_name to instantiate the model and endpoint resources"
## Expected Behavior
In the notebooks/community/managed_notebooks/fraud_detection/fraud-detection-model.ipynb
we need to Instantiate the resources using the resource names.

model = aiplatform.Model(model_name=model.resource_name)
endpoint = aiplatform.Endpoint(endpoint_name=endpoint.resource_name)

## Actual Behavior

Failed to instantiate the resources using the displayed_names

## Steps to Repr

[2021-11-04 16:47] yinghsienwu commented on #118
Did you make sure  Notebookinstance is in the same VPC network (and region) you created?  See the WARNING in the matching_engine_for_indexing.ipynb.

WARNING: The match service gRPC API (to create online queries against your deployed index) has to be executed in a Google Cloud Notebook instance that is created with the following requirements:
In the same region as where your ANN service is deploye

[2021-11-05 04:37] andrewferlitsch commented on #95
links where fixed

[2021-11-05 04:37] #95 closed

[2021-11-05 04:39] andrewferlitsch commented on #81
link fixed

[2021-11-05 04:40] andrewferlitsch commented on #64
for whatever reason its running an earlier version. We seen this problem before.

[2021-11-05 04:40] #64 closed

[2021-11-05 04:40] andrewferlitsch commented on #81
link fixed

[2021-11-05 04:40] #81 closed

[2021-11-05 04:42] andrewferlitsch commented on #82
is already fixed

[2021-11-05 04:42] #82 closed

[2021-11-06 19:54] kweinmeister commented on #126
Hi, a few questions to troubleshoot  this:

* Can you confirm that you've successfully trained a model in the previous steps?
* Also you've updated the `DEPLOYED_MODEL_NAME` variable?
* Can you provide the details of the error message you're seeing?

[2021-11-08 17:29] matthewayne commented on #126
@aarondietz234 Can you take a look at this?

[2021-11-08 21:26] candicehou07 commented on #126
Hi, to answer the questions:

- I have trained the model and uploaded the model to Vertex Models
(screenshot included)
![Screen Shot 2021-11-08 at 3 20 00 PM](https://user-images.githubusercontent.com/89653023/140819936-ac7b88c6-7968-4de2-a1cf-f193e549c6a1.png)

- I updated the DEPLOYED_MODEL_NAME as the deployed model name, "fraud-detection-model-v1"
  - variables used to retrieve the model and t

[2021-11-10 06:00] ayushjn20 opened #133 "Problem in the preprocessing function while defining the serving_default signature for a model in a community notebook"
## Problem
In the section `Deployment` > `Upload the model for serving` > `Serving function for image data` of [this](https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/ec3fd38b0bce06b29807adbf3710b05343bc07a3/notebooks/community/gapic/custom/showcase_custom_image_classification_online.ipynb) notebook, the preprocess function is defined as,

[code]

For this, the author has written,

Bu

[2021-11-10 17:31] ivanmkc opened #134 "intro-swivel.ipynb fails on TF import"
Logs: https://pantheon.corp.google.com/cloud-build/builds/ebea2843-3345-4a7e-a4e4-5c625613d42d?project=python-docs-samples-tests

Error in intro-swivel.ipynb when importing tensorflow:

[code]

[2021-11-10 20:55] ivanmkc opened #139 "notebooks/official/explainable_ai/gapic-custom_tabular_regression_batch_explain.ipynb doesn't install tensorflow"
[code]

Logs: https://console.cloud.google.com/cloud-build/builds/a09a6f51-c0f9-473d-9233-929a8bb0ccda?project=1012616486416

[2021-11-10 20:56] ivanmkc opened #140 "notebooks/official/explainable_ai/gapic-custom_tabular_regression_online_explain.ipynb doesn't install tensorflow"
Logs: https://pantheon.corp.google.com/cloud-build/builds/98afe3ac-1589-4c10-bb9d-f28e1841558c?project=python-docs-samples-tests

[code]

[2021-11-10 20:58] ivanmkc commented on #134
I'd recommend waiting for https://github.com/GoogleCloudPlatform/vertex-ai-samples/issues/140 and https://github.com/GoogleCloudPlatform/vertex-ai-samples/issues/139 to be resolved as they include TF as well.

[2021-11-11 00:01] #126 closed

[2021-11-11 10:01] google-cloud-policy-bot[bot] opened #143 "[Policy Bot] found one or more issues with this repository."
[Policy Bot](https://github.com/googleapis/repo-automation-bots/tree/main/packages/policy#policy-bot) found one or more issues with this repository.
- [x] Default branch is 'main'
- [ ] Branch protection is enabled
- [x] Renovate bot is enabled
- [x] Merge commits disabled
- [x] There is a CODEOWNERS file
- [x] There is a valid LICENSE.md
- [x] There is a CODE_OF_CONDUCT.md
- [x] There is a CONTRI

[2021-11-14 05:20] vipinn123 opened #153 "No module named 'google.cloud.aiplatform' in sdk_custom_image_classification_online_explain.ipynb"
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

1. Cloned this git repository into a Managed Notebooks Environment in Vertex AI
2. Tried running the notebook sample sdk_custom_image_classification_online_explain.ipynb
3. the cell "import google.cloud.aiplatform as aip" errors out with ModuleNotFoundError: No module named 'google.cloud.aiplatform'
## Specifications

- V

[2021-11-15 17:36] andrewferlitsch commented on #153
@vipinn123

I ran the notebook in a Managed Notebook Environment with defaul Python local kernel. The notebook successfully imported google.cloud.aiplatform:

Set up variables
Next, set up some variables used throughout the tutorial.

Import libraries and define constants
import google.cloud.aiplatform as aip

[2021-11-15 17:36] #153 closed

[2021-11-15 17:40] andrewferlitsch commented on #140
I merged the fix

[2021-11-15 17:40] #140 closed

[2021-11-15 18:12] andrewferlitsch commented on #139
missing install of TF for testing was added.

[2021-11-15 18:12] #139 closed

[2021-11-15 18:30] andrewferlitsch commented on #133
From TF 2.5 on, the automatic scaling is correct (as noted by the issue poster). For TF 2.4 and earlier documentation, it is vague.

[2021-11-16 01:45] #133 closed

[2021-11-17 20:08] kweinmeister commented on #18
Thank you for filing this feature request. This Github repo is used for issues with Vertex AI Samples. We investigated and determined that the best fit for this feature request is in the Python SDK for Vertex AI. So that it is reviewed by the appropriate team, please feel free to re-file it with this repo here: [googleapis/python-aiplatform](https://github.com/googleapis/python-aiplatform). Thank

[2021-11-17 20:08] #18 closed

[2021-11-18 15:56] mco-gh commented on #31
Hi Ivan,

Was this observed in official? I have a pending new version in unofficial but I assume this relates to official since I think that's the only version you run your tests on.

[2021-11-18 16:27] mco-gh commented on #31
Thinking about this some more, I'm going to start with the unofficial/community version, make sure it works, verify unit tests, and move it to official. The problem with debugging the older version in official is it's changed a fair bit in the community version (I added explainable AI and feature attribution modeling) so I may end up chasing phantom bugs in the old version.

[2021-11-29 07:45] iampawanpoojary opened #162 "mlops_pipeline_tf_agents_bandits_movie_recommendation.ipynb"
## Expected Behavior
In the **Author and run the RL pipeline** part, once we submit the pipeline
Training should not error out

## Actual Behavior

`No such object: gs://<bucket>/pipeline/<>/movielens-pipeline-startup-<>/train-reinforcement-learning-policy_<>/training_artifacts_dir; Failed to read GCS file: gs://<bucket>/pipeline/<>/movielens-pipeline-startup-<>/train-reinforcement-learning-policy

[2021-11-29 15:00] kweinmeister commented on #162
Hi @iampawanpoojary, per discussion in #19, is your bucket in the same region as the service (looks like `us-central1` from the screen shot)? And it's a regional (not multi-regional) bucket?

[2021-11-29 15:09] iampawanpoojary commented on #162
Yes, its us-central1 for both service and bucket.
![image](https://user-images.githubusercontent.com/33375633/143892164-612262cc-cc4b-4c2c-9676-30c0ffa58264.png)

[2021-11-30 20:47] andrewferlitsch commented on #162
I ran the notebook. Unrelated to the posted problem, it is missing pip installs for tf-agents and fastapi.

Also missing the service account setup  needed for pipelines.

[2021-11-30 20:48] andrewferlitsch commented on #134
@kweinmeister 139 and 140 are closed. Can we retest this notebook and see if the install issue is still there.

[2021-11-30 20:51] iampawanpoojary commented on #162
Yes, i ran into those as well, but i just installed the missing stuff

[2021-11-30 21:31] kweinmeister commented on #134
@andrewferlitsch - sure, that makes sense to retry (would that take a new PR making a minor change to re-test)?

[2021-11-30 21:36] yinghsienwu commented on #134
I want to update this notebook for some new features. Let me create a PR.

[2021-11-30 21:44] andrewferlitsch commented on #134
Hi Amy. Look forward to the update. Will process the PR when it comes
through.

On Tue, Nov 30, 2021 at 1:36 PM Amy Wu ***@***.***> wrote:

[2021-12-01 04:04] KathyFeiyang commented on #162
Hi @iampawanpoojary, thank you for submitting this issue.
I think the first step of checking can be to directly access all the paths mentioned in the error message, and see if they are valid. For instance, it seems that the first bucket path doesn't contain the "gs://" prefix.

[2021-12-03 10:17] iampawanpoojary commented on #162
oh yes, the path for bucket is correct i just replaced the gs: while i was covering my bucket name after copying, i have not changed any code as such in the notebook

[2021-12-07 18:27] kweinmeister commented on #143
Added required CI checks to branch protection settings. Closing issue to trigger re-scan.

[2021-12-07 18:27] #143 closed

[2021-12-07 18:30] kweinmeister commented on #87
@morgandu has made this change. Verified as fixed.

[2021-12-07 18:30] #87 closed

[2021-12-07 21:30] kweinmeister commented on #118
I'll go ahead and close the issue, as we haven't heard any response back. Please feel free to reopen if you have any more feedback to help troubleshoot. Thanks.

[2021-12-07 21:30] #118 closed

[2021-12-08 09:00] yunruili opened #174 "Have trouble to use bigquery"
google.api_core.exceptions.Forbidden: 403 POST https://bigquery.googleapis.com/bigquery/v2/projects/vf64cb108e9b1b4cfp-tp/jobs?prettyPrint=false: Access Denied: Project vf64cb108e9b1b4cfp-tp: User does not have bigquery.jobs.create permission in project vf64cb108e9b1b4cfp-tp.

## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

1.
1.
1.

## Specifications

- Version:
- Pla

[2021-12-08 10:00] google-cloud-policy-bot[bot] opened #175 "[Policy Bot] found one or more issues with this repository."
[Policy Bot](https://github.com/googleapis/repo-automation-bots/tree/main/packages/policy#policy-bot) found one or more issues with this repository.
- [x] Default branch is 'main'
- [ ] Branch protection is enabled
- [x] Renovate bot is enabled
- [x] Merge commits disabled
- [x] There is a CODEOWNERS file
- [x] There is a valid LICENSE.md
- [x] There is a CODE_OF_CONDUCT.md
- [x] There is a CONTRI

[2021-12-08 23:07] kweinmeister commented on #174
Hello, can you please let us know if this issue relates to one of the notebooks in this sample code repository?

[2021-12-09 19:26] kweinmeister commented on #175
I believe the Branch protection issue is resolved now.

[2021-12-09 19:26] #175 closed

[2021-12-10 07:50] yunruili opened #180 "how can we do early stopping for sample notebook I provided in the below"
I saw there're argument called disable_early_stopping in autoML. Can we do the same thing in the below notebook?
https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/36455b8125802459f3a40752fbda0e4c9407c854/notebooks/official/migration/UJ11%20Vertex%20SDK%20Hyperparameter%20Tuning.ipynb

[2021-12-15 16:18] kweinmeister opened #184 "Build timeout errors: Explainability GAPIC notebooks"
[gapic-custom_image_classification_batch_explain.ipynb ](https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/notebooks/official/explainable_ai/gapic-custom_image_classification_batch_explain.ipynb) and [gapic-custom_image_classification_online_explain.ipynb](https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/notebooks/official/explainable_ai/gapic-custom_image_classi

[2021-12-15 16:38] kweinmeister opened #186 "Build failure: Model deploy failure on google_cloud_pipeline_components_automl_tabular.ipynb"
Investigate if this is a one-off deployment error, or there is something that needs to be fixed in this notebook.

[Notebook](https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/notebooks/official/pipelines/google_cloud_pipeline_components_automl_tabular.ipynb)

[Build details](https://console.cloud.google.com/cloud-build/builds/99280bff-38b9-4bce-8394-914721c6475a;step=3?project=py

[2021-12-21 20:50] andrewferlitsch commented on #180
disable_early_stopping is for AutoML only. The referenced notebook is HPT for a custom job. One can DIY implement early stop for training. Likewise when doing HPT you set max_trials. If HPT does not think it making progress, it will stop early.

[2021-12-21 20:50] #180 closed

[2021-12-21 22:48] yinghsienwu commented on #134
This TensorFlow import issue was fixed by Andrew. I submit a PR and this PR is blocked by another downstream error in vertex-ai-notebook-execution-test. See https://github.com/GoogleCloudPlatform/vertex-ai-samples/pull/193

[2021-12-21 22:49] #134 closed

[2022-01-07 19:32] ivanmkc commented on #184
Looks like `upload_model_response = response.result(timeout=180)` could be extended.

[2022-01-07 20:19] ivanmkc opened #202 "pipelines_intro_kfp.ipynb: Failing at kfp import"
## Expected Behavior

This import fails
[code]

## Error message
[code]

[2022-01-07 20:19] ivanmkc commented on #202
@andrewferlitsch See attached notebook.

[2022-01-07 20:20] ivanmkc commented on #202
[pipelines_intro_kfp.ipynb.zip](https://github.com/GoogleCloudPlatform/vertex-ai-samples/files/7831144/pipelines_intro_kfp.ipynb.zip)

[2022-01-07 20:40] ivanmkc commented on #186
[google_cloud_pipeline_components_automl_tabular.ipynb.zip](https://github.com/GoogleCloudPlatform/vertex-ai-samples/files/7831233/google_cloud_pipeline_components_automl_tabular.ipynb.zip)

[2022-01-07 20:50] ivanmkc opened #203 "custom_model_training_and_batch_prediction: Failed at tensorflow import"
# Command
`import tensorflow as tf`

# Error
---------------------------------------------------------------------------
ContextualVersionConflict                 Traceback (most recent call last)
/tmp/ipykernel_20/3384745563.py in <module>
----> 1 import tensorflow as tf
      2 from google_cloud_pipeline_components import aiplatform as gcc_aip
      3 from google_cloud_pipeline_components.experi

[2022-01-07 20:51] ivanmkc commented on #203
[custom_model_training_and_batch_prediction.ipynb.zip](https://github.com/GoogleCloudPlatform/vertex-ai-samples/files/7831287/custom_model_training_and_batch_prediction.ipynb.zip)

[2022-01-07 20:53] ivanmkc opened #204 "automl_tabular_classification_beans: Failed at KFP DAG run"
# Command
`job.run`

# Error
[code]

[2022-01-07 20:53] ivanmkc commented on #204
[automl_tabular_classification_beans.ipynb.zip](https://github.com/GoogleCloudPlatform/vertex-ai-samples/files/7831301/automl_tabular_classification_beans.ipynb.zip)

[2022-01-10 17:31] andrewferlitsch commented on #162
Reassigning to the notebook contributer

[2022-01-10 17:55] andrewferlitsch commented on #184
fixed by https://github.com/GoogleCloudPlatform/vertex-ai-samples/pull/205

[2022-01-11 02:33] matthaley commented on #162
I'm having the same issue.  When I go to "View pipeline proto" for debugging info, here is the relevant logging for the error during train-reinforcement-learning-policy:
`
"error": {
          "code": 5,
          "message": "No such object: tf_agents_example/pipeline/[project]/movielens-pipeline-startup-20220111010531/train-reinforcement-learning-policy_-9056912573479256064/training_artifacts_dir

[2022-01-11 07:12] KathyFeiyang commented on #162
Thank you for bringing this to our attention.

There's a quick fix that resolved this error on my end:
It seems that the output parameter "training_artifacts_dir" of the Trainer component is causing issues. You may temporarily remove that output parameter with the following steps:
- Go to `src/trainer/trainer_component.py`'s `train_reinforcement_learning_policy()` function, remove the output param

[2022-01-11 18:57] andrewferlitsch commented on #186
/gcbrun

[2022-01-12 01:27] matthaley commented on #162
@KathyFeiyang Thanks for your help.  I found out that there is something wrong with the provisioning step for the train task.  I can get the pipeline working by commenting out this code in the pipeline authoring step, thus using the default machine spec (e2-standard-4 instead of n1-standard-4):
[code]
If I have a chance, I'll try to figure out how to get it working with the desired machine type an

[2022-01-12 01:55] KathyFeiyang commented on #162
@matthaley I'm glad you got the pipeline working. Also, thank you so much for sharing these insights. We've taken a note of them and will work on updating the sample notebook.

[2022-01-12 03:20] pactera-song opened #208 "google_cloud_pipeline_components Compiling Error in metadata Parameter in ModelDeployOp()"
I try to write something to metadata of vertext ai model.
and my code is like this:

    import google.cloud.aiplatform as aip
    from google_cloud_pipeline_components import aiplatform as gcc_aip

    @dsl.pipeline(
        name="test-vertext-ai-02",
        pipeline_root=PIPELINE_ROOT,
    )
    def pipeline():
        ds_op = gcc_aip.TextDatasetCreateOp(
            project=PROJECT_ID,

[2022-01-12 06:12] pactera-song commented on #208
and when i check this doc i find there is a parameter named 'metadata' in method 'ModelDeployOp':

https://google-cloud-pipeline-components.readthedocs.io/en/google-cloud-pipeline-components-0.1.4/google_cloud_pipeline_components.aiplatform.html

[2022-01-14 03:19] ravishmal opened #213 "Unable to run custom job in sdk-custom-image-classification-batch.ipynb"
In `vertex-ai-samples/notebooks/official/custom/sdk-custom-image-classification-batch.ipynb`, when I run the following cell on a Vertex AI workbench notebook

[code]
it gives error
```InvalidArgument: 400 Accelerator "NVIDIA_TESLA_K80" is not supported for machine type "n1-standard-4"```.

My understanding is Tesla K80 is compatible with 4vcpu, as listed here. https://cloud.google.com/ai-platform/

[2022-01-18 11:42] shim1998 opened #218 "Having trouble in running Two-Tower built-in algorithm"
Hello, so I was trying to run this [code](https://cloud.google.com/vertex-ai/docs/matching-engine/train-embeddings-two-tower)
I was trying to understand the [Input Schema](https://cloud.google.com/vertex-ai/docs/matching-engine/train-embeddings-two-tower#input_schema), this seems like an invalid JSON schema format.
I tried to run the code with this schema, and I got an error.
I am unsure as to wha

[2022-01-18 16:58] andrewferlitsch commented on #213
I ran this notebook to completion w/o errors. Perhaps yours was somehow transitory. Could you try again?

Here's my output from job.run():

INFO:google.cloud.aiplatform.utils.source_utils:Training script copied to:
gs://andy-1234-221921aip-20220118164055/aiplatform-2022-01-18-16:42:18.067-aiplatform_custom_trainer_script-0.1.tar.gz.
INFO:google.cloud.aiplatform.training_jobs:Training Output direct

[2022-01-18 21:14] ivanmkc commented on #218
This is the wrong place for this question. Seems like a `gcloud command`.

[2022-01-18 21:25] shenzhimo2 commented on #218
Looks like it's a json schema issue. There are some issue in the doc that misleading the you. I will suggest you to use https://storage.googleapis.com/cloud-samples-data/vertex-ai/matching-engine/two-tower/movielens_100k/input_schema.json as an example

[2022-01-18 22:03] andrewferlitsch commented on #218
If this is a doc issue? Should it be reassigned to a TW?

[2022-01-18 22:16] ivanmkc commented on #218
Let's see if it solves @shim1998 's problem or not.

[2022-01-19 09:33] shim1998 commented on #218
Hello, thank you for clarifying this to me!
I have changed the input schema to the sample you provided, and I have tried to include a Categorical feature.
My input schema looks like this:
[code]
And my training data's sample row looks like this:
[code]
I am encountering this error statement.
[code]
I have used the list of various sizes and I am still getting this issue.
In the documentation it is

[2022-01-19 19:19] shenzhimo2 commented on #218
Hi @shim1998,
I guess it's due to checkpoint. You can try to use a new job dir to see if it can resolve your issue.

[2022-01-19 20:57] kweinmeister commented on #174
Hi, since we haven't heard back, we'll go ahead and close this issue. Please feel free to reopen if you have more information.

[2022-01-19 20:57] #174 closed

[2022-01-19 21:12] ivanmkc opened #225 "intro-swivel downloads external code"
It looks like the https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/notebooks/official/matching_engine/intro-swivel.ipynb notebook downloads code from a Cloud Bucket

gsutil cp gs://cloud-samples-data/vertex-ai/matching-engine/swivel/pipeline/* .`

It isn't really standard practice to download external code to run. This means that code might not be tested/reviewed and could change

[2022-01-24 20:02] ivanmkc commented on #31
@mco-gh This hasn't been failing recently so feel free to close this.

[2022-01-24 20:11] mco-gh commented on #31
Ok, I have some changes to make but glad it's not broken. Once again,
procrastination pays off. :)

On Mon, 24 Jan 2022 at 20:02, Ivan Cheung ***@***.***> wrote:

[2022-01-24 20:11] #31 closed

[2022-01-26 04:08] danielduckworth opened #242 "Google cloud logging type ERROR for regular training progress output"
## Expected Behavior
Google cloud logging for a custom training job should report training progress as type INFO.

## Actual Behavior
Logs show type ERROR

## Steps to Reproduce the Problem

I've been using the notebook in this repo: [Training, Tuning and Deploying a PyTorch Text Classification Model on Vertex AI](https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/community-content

[2022-01-26 17:54] annatn998 opened #245 "Deployment Prediction Error"
Hi, I've been following the tutorial but have been making minor adjustments to fit a GCN model rather than a text-classification one. I have gotten up to the section where we send a POST request for prediction.

When I follow the request sent on the tutorial:

[code]

I get the error:
[code]

I modified the curl command and sent:

[code]

which got me this error:

[code]

I think I've pinpointed t

[2022-01-26 20:37] kweinmeister commented on #245
Hi @annatn998, can you provide the link to the notebook that you're starting from?

[2022-01-27 09:29] annatn998 commented on #245
@kweinmeister I am using a workbench notebook from a private GCP project, but I'll copy and paste a link to the files that I'm using for deployment!

train.py - file used to train model
Dockerfile - torchserve dockerfile for prediction
custom_handler.py - custom handler for GCN model
models.py - because it's an eager model we include a model-file into the torch archive

[pytorch_torchserve.zip](ht

[2022-01-27 16:49] kweinmeister commented on #245
Thanks! I am tagging @RajeshThallam, who wrote one of our PyTorch serving notebooks in this repo, in case he might be familiar with the errors you're seeing. Please keep in mind that we are not able to provide official support here, so I'll provide a couple more options to consider:

- Google Cloud Platform support options are at https://cloud.google.com/support/
- You can ask a question on Stack

[2022-01-27 22:13] ivanmkc commented on #213
Feel free to close if stale.

[2022-01-27 22:17] #218 closed

[2022-01-27 22:22] ivanmkc opened #251 "Add Vertex Workbench Executor testing"
Add Workbench Executor integration to CI to test that certain notebooks can work fine in that environment.

[2022-01-27 22:26] ravishmal commented on #213
Yes, this works now. Thanks!

[2022-01-27 22:26] #213 closed

[2022-01-28 21:06] #245 closed

[2022-01-28 21:06] ivanmkc commented on #245
Closing as this is not the right forum for support requests.

[2022-01-29 00:12] danielduckworth opened #253 "Custom model deployed with a docker container but requests are not working as expected"
## Context

I have been using the [Ludwig AI library](https://github.com/ludwig-ai/ludwig) to create tensorflow models. The library includes a serve tool to serve a model via HTTP, much like the Pytorch serve.

I'm attempting to use a model trained with Ludwig and serve with [Ludwig serve](https://ludwig-ai.github.io/ludwig-docs/user_guide/serving/) from a custom docker container deployed as a cus

[2022-01-29 16:35] danielduckworth commented on #253
I tried deploying the custom container to Cloud Run and this worked really. I would like to do some load testing and compare the response times between Cloud Run and a Vertex endpoint.

[2022-01-31 19:20] ivanmkc commented on #253
Hi, it doesn't look like you are referring to any of our official notebooks hosted in this repo.
Please keep in mind that we are not able to provide official support here, so I'll provide a couple more options to consider:

1. Google Cloud Platform support options are at https://cloud.google.com/support/
2. You can ask a question on Stack Overflow using the tag google-cloud-ml. This tag not only r

[2022-01-31 19:28] RajeshThallam commented on #253
@danielduckworth Can you try formatting input request by encoding JSON string as binary?

[code]

[2022-02-01 23:17] kweinmeister commented on #208
Hi, is this code from one of the notebooks in this repo?

[2022-02-01 23:19] kweinmeister commented on #204
Fixed by #220

[2022-02-01 23:19] #204 closed

[2022-02-01 23:20] #184 closed

[2022-02-03 17:34] ivanmkc commented on #202
@andrewferlitsch Is this fixed already?

[2022-02-03 17:35] ivanmkc commented on #203
Has this been fixed?

[2022-02-03 17:35] ivanmkc commented on #203
@andrewferlitsch

[2022-02-03 17:44] ivanmkc opened #264 "google_cloud_pipeline_components_automl_images.ipynb fails due to AutoMLImageClassificationDeployedModelNodes quota exceeded"
Logs: https://pantheon.corp.google.com/vertex-ai/locations/us-central1/pipelines/runs/automl-image-training-v2-20220202211108?project=python-docs-samples-tests

[code]

# Solutions
- [ ] See why cleanup script doesn't solve this.
- [ ] Increase quota.

[2022-02-06 01:46] danielduckworth commented on #253
Thanks for the suggestion @RajeshThallam. I tried this but got the same response as before. [brightsparc](https://github.com/brightsparc) explained that the current expected input structure for ludwig serve is not compatible with vertex: [https://github.com/ludwig-ai/ludwig/discussions/1728#discussioncomment-2085259](https://github.com/ludwig-ai/ludwig/discussions/1728#discussioncomment-2085259)

[2022-02-06 01:46] #253 closed

[2022-02-09 00:23] yinghsienwu commented on #162
See https://github.com/GoogleCloudPlatform/vertex-ai-samples/pull/270

[2022-02-09 00:23] #162 closed

[2022-02-11 03:59] MahaAmin opened #280 "In notebooks/official/explainable_ai/gapic-custom_tabular_regression_online_explain.ipynb Can't create custom job"
## Expected Behavior
Start custom training job in Vertex.

## Code

[code]

## Actual Behavior
Got this error:
[code]

[2022-02-13 21:13] kweinmeister commented on #264
I put in a request to double this quota, and it was approved.

[2022-02-13 21:13] #264 closed

[2022-02-16 18:53] andrewferlitsch commented on #186
fixed

[2022-02-16 18:54] #186 closed

[2022-02-16 19:24] andrewferlitsch commented on #202
fixed

[2022-02-16 19:24] #202 closed

[2022-02-17 02:19] andrewferlitsch commented on #203
fixed

[2022-02-17 02:19] #203 closed

[2022-02-17 02:21] andrewferlitsch commented on #208
You can add user-defined metadata to a Vertex Model using the parameter labels, which is in a dictionary format.

[2022-02-17 02:23] andrewferlitsch commented on #208
answered user's usability question.

[2022-02-17 02:23] #208 closed

[2022-02-17 02:27] andrewferlitsch commented on #280
running the notebook and see what happens

[2022-02-17 16:02] andrewferlitsch commented on #280
I ran the notebook e2e and it executed a-ok.

[2022-02-17 18:36] kabilanmohanraj commented on #280
@MahaAmin Can you check if there are typos in the job parameters?

I saw a similar [thread](https://github.com/GoogleCloudPlatform/datacatalog-connectors-hive/issues/18) with the same exception. The thread is old but could be useful. Here specifically, check for the `REGION` parameter.

[2022-02-17 20:42] ivanmkc opened #312 "Support VPC in notebook execution test"
Some features in notebooks require them to be run in a VPC. For example: https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/notebooks/community/matching_engine/matching_engine_for_indexing.ipynb

See https://cloud.google.com/build/docs/private-pools/set-up-private-pool-environment#setup-private-connection

[2022-02-17 20:46] ivanmkc opened #313 "Add BigQuery Admin permission to service account for notebook execution tests"
Due to a recent policy bot change, the 1012616486416@cloudbuild.gserviceaccount.com no longer has BigQuery write permissions.

[code]

## Solution:
Write an exemption CL like this: cl/427208423

## Affected notebooks:
https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/notebooks/official/automl/sdk_automl_tabular_forecasting_batch.ipynb

[2022-02-23 23:04] andrewferlitsch commented on #280
if not already, set REGION to us-central1

[2022-02-23 23:11] andrewferlitsch commented on #242
None of these log events are being explicitly logged by the training script. That suggests they are generated on the training service side.

[2022-02-27 00:19] telpirion opened #334 "Upgrade "Intro to Pipelines" notebook to not use kfp"
The ["Intro to pipelines" notebook](https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/notebooks/official/pipelines/pipelines_intro_kfp.ipynb) uses the kfp.compiler API to create a pipeline. During execution, the notebook reports that the kfp.v2 library will not be supported in future versions of google-cloud-aiplatform.

The introduction notebook should show best practices for bui

[2022-02-27 04:32] ivanmkc commented on #313
Fixed

[2022-02-27 04:32] #313 closed

[2022-02-28 17:36] ivanmkc opened #339 "Regression test failures: Explainability notebooks have GAPIC API retries that are too short"
Build log: https://pantheon2.corp.google.com/cloud-build/builds;region=global/3d191399-2605-44d7-9422-c6f5768e10e2?project=python-docs-samples-tests

- gapic-custom_image_classification_batch_explain.ipynb
- gapic-custom_image_classification_online_explain.ipynb
- gapic-custom_tabular_regression_batch_explain.ipynb
- gapic-custom_tabular_regression_online_explain.ipynb

Likely all are failing at t

[2022-02-28 17:41] ivanmkc opened #341 "Regression test failures: Various KFP failures"
https://pantheon2.corp.google.com/cloud-build/builds;region=global/3d191399-2605-44d7-9422-c6f5768e10e2?project=python-docs-samples-tests

-  automl_tabular_classification_beans.ipynb: https://console.cloud.google.com/cloud-build/builds/75d65a4d-bdde-4d86-a922-6fcc626c1a10?project=1012616486416
- custom_model_training_and_batch_prediction.ipynb: https://console.cloud.google.com/cloud-build/builds/

[2022-02-28 23:50] ivanmkc opened #344 "Check official CODEOWNERS for references to non-existent Github handles"
notebooks/community/CODEOWNERS is referencing internal usernames instead of Github handles.

[code]

[2022-02-28 23:50] ivanmkc commented on #344
Should check official as well.

[2022-03-02 00:52] stevenzhang-support opened #349 "ModelUploadOp from "Vertex AI Pipelines: model upload using google-cloud-pipeline-components" does not work"
## Expected Behavior
Code example  from "Vertex AI Pipelines: model train, upload, and deploy using google-cloud-pipeline-components" [1] should work as intended.

## Actual Behavior
Code example below from "Vertex AI Pipelines: model train, upload, and deploy using google-cloud-pipeline-components" [1] had issue and does not work

[code]
On the other hand, the method below worked:
[code]

I'm cur

[2022-03-02 20:58] andrewferlitsch commented on #349
There was a recent breaking change. Will update notebook accordingly.

[2022-03-03 16:25] kweinmeister commented on #344
The community CODEOWNERS was fixed thanks to an update from @galz10. So, I've narrowed this issue to official.

[2022-03-03 19:51] kweinmeister commented on #242
From our initial investigation, it looks like these messages are coming from Hugging Face transformers and datasets packages that are writing messages to stderr. The Vertex AI training service is logging them as ERROR accordingly.

[2022-03-04 01:50] andrewferlitsch commented on #349
Notebook has been updated, tested and merged.

[2022-03-04 05:20] galz10 commented on #344
Once #361 is closed, we can close this issue. I believe we might need to rework the rules for community codeowners since users who contribute to community shouldn't have write access.

[2022-03-04 05:22] galz10 commented on #349
@andrewferlitsch can we close this issue since the notebook is merged ?

[2022-03-04 05:24] andrewferlitsch commented on #349
yes, I will close it. I thought I had.

[2022-03-04 05:24] #349 closed

[2022-03-04 20:43] #344 closed

[2022-03-07 16:28] natetsang commented on #349
Hi all,
I saw this thread and the updated notebook - thanks for fixing it.

I can't help but think that using `artifact_uri=WORKING_DIR` in the Importer Node seems misaligned with Kubeflow's focus on Artifacts and Artifact management. Is it possible to set `artifact_uri` to the Artifact location without hardcoding `WORKING_DIR`?

[code]

To make things simple, let's say that instead of putting the

[2022-03-11 01:45] kweinmeister opened #377 "Replace use of os.environ["IS_TESTING"] with os.getenv("IS_TESTING")"
Outside of the CI test environment, any calls to `os.environ["IS_TESTING"]`  will raise a `KeyError`.

We should use `os.getenv()` or `os.environment.get()`, which will return `None` if the key is not found.

[2022-03-16 00:02] kweinmeister commented on #242
As this doesn't look to be a problem with the notebook, we will close the issue. Please feel free to reopen if you have more information. Thanks!

[2022-03-16 00:02] #242 closed

[2022-03-18 21:44] #377 closed

[2022-03-22 07:00] MMichael-S opened #400 "How to reuse an existing Endpoint in pipeline?"
Hi Experts

## Expected Behavior
Hope to reuse an existing endpoint in pipeline.

Also see that google_cloud_pipeline_components.v1.endpoint has only EndpointCreateOp method.
https://google-cloud-pipeline-components.readthedocs.io/en/google-cloud-pipeline-components-1.0.0/google_cloud_pipeline_components.v1.endpoint.html

Is there a way to reuse an existing Endpoint? And how to reuse it? This will

[2022-03-22 19:58] andrewferlitsch commented on #280
This notebook was deprecated and replaced with the SDK equivalent: [sdk_custom_tabular_regression_online_explain.ipynb](https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/notebooks/official/explainable_ai/sdk_custom_tabular_regression_online_explain.ipynb)

[2022-03-22 19:58] #280 closed

[2022-03-22 20:04] andrewferlitsch commented on #400
This does appear to be a limitation  the prebuilt components. You could then write your own python component, something like:

@component()
def get_endpoint(resource_name: str,
                               endpoint: Output[Artifact]
                               )
        endpoint = aiplatform.Endpoint(endpoint_name=resource_name)

[2022-03-23 03:24] MMichael-S commented on #400
@andrewferlitsch
Thank you very much.
We have done in the same way by using customized components to import the existed endpoint.

Code as following,  for someone who need the reference:

    from google_cloud_pipeline_components.types import artifact_types
    from kfp.v2.components import importer_node

    endpoint = importer_node.importer(
        artifact_uri="https://us-central1-aiplatform.g

[2022-03-23 16:19] #400 closed

[2022-03-24 22:18] andrewferlitsch commented on #339
closing.  notebooks deprecated with SDK equivalents.

[2022-03-24 22:18] #339 closed

[2022-03-25 05:44] pratikchhapolika opened #408 "trainer.save_model(“gs://*****/“) doesn’t save the mode in GCP bucket?"
## Expected Behavior
The model should be saved in GCP bucket using trainer function.

## Actual Behavior
The model is not saved.

## Steps to Reproduce the Problem

`train.py` inside Custom Container

[code]

[2022-03-25 16:17] kweinmeister commented on #408
Hi @pratikchhapolika , is this code from a notebook in this repo?

[2022-03-25 17:14] andrewferlitsch commented on #341
**custom_model_training_and_batch_prediction.ipynb:**
**pipelines_intro_kfp.ipynb:**
...
 ---> 29 from googleapiclient import discovery
 ...
Step #3: ContextualVersionConflict: (google-api-core 2.3.2 (/builder/home/.local/lib/python3.9/site-packages), Requirement.parse('google-api-core<2dev,>=1.21.0'), {'google-api-python-client'})
Step #3:
Finished Step #3
ERROR
ERROR: build step 3 "gcr.io/cloud-

[2022-03-28 13:22] TheWispy opened #419 ""Failed to parse the container spec json payload to requested prototype" within CustomTrainingJobOp"
## Expected Behavior
1. Submit a custom training job op within a VPC peering and associated reserved ip ranges with pipeline params passed as args.
2. Component runs successfully

## Actual Behavior
1. The compiler fails, complaining that the pipelineparam is not json serializable
`TypeError: Object of type PipelineParam is not JSON serializable` [as seen here](https://github.com/kubeflow/pipeline

[2022-03-30 02:19] ra312 opened #424 "demo vertex kfp pipeline fails with "Invalid Cloud Storage URI for gcs_output_directory""
## Expected Behavior
the pipeline job has to start

## Actual Behavior
the pipeline job run fails

## Steps to Reproduce the Problem

1. python3 -m pip install google-cloud-aiplatform==1.7.1
google-cloud-pipeline-components==0.2.0
kfp==1.8.9

2. python3 pipellines_intro_kfp.py (obtained by converting https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/notebooks/official/pipelines/pi

[2022-03-31 00:34] andrewferlitsch commented on #424
@ra312
Hello. Can you be more specific? What do you mean by: obtained by converting https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/notebooks/official/pipelines/pipelines_intro_kfp.ipynb)

[2022-03-31 00:38] andrewferlitsch commented on #419
@TheWispy Hello, could you paste in your pipeline definition?

As per PipelineParams are not JSON serializable. That itself is correct. While a pipeline definition looks like Python code, it is not actually Python code. The parameters you pass into the Pipeline definition are of type PipelineParam and have some limitations -- such as one cannot JSON serialize their values.

[2022-03-31 05:31] ra312 commented on #424
Hi @andrewferlitsch
Thanks for getting back so quickly! To be more specific, I used Jupiter nbconvert --to script pipelines_intro_kfp.ipynb and edited the script a bit to adjust for the ML workflow I am attempting to productionize

'''
from kfp.v2.dsl import component
from kfp.v2 import compiler
from kfp import dsl
from typing import NamedTuple
import google.cloud.aiplatform as aip
from datetime i

[2022-03-31 07:12] ra312 commented on #424
I added runtime_config and specified service_account to resolve the Exception

[2022-04-01 17:55] andrewferlitsch commented on #408
I checked  (using grep) if any of our notebooks have the code sequence: `trainer.save_model`. No do. I am closing this issue as not an issue on our content.

[2022-04-01 17:55] #408 closed

[2022-04-01 17:57] andrewferlitsch commented on #424
@ra312 Does the bucket exist? Otherwise you need to create it first.

BUCKET_NAME = "ml-bucket-dev"
BUCKET_URI = f"gs://{BUCKET_NAME}"

[2022-04-02 01:31] ra312 commented on #424
Hi @andrewferlitsch,
Yes, I made sure the bucket exists

[2022-04-07 01:30] dmparish42 opened #451 "Getting an error on custom-tabular-bq-managed-dataset.ipynb"
## Expected Behavior
go through config and then train a model.

## Actual Behavior
During model training, get this error:
INFO:google.cloud.aiplatform.utils.source_utils:Training script copied to:
gs://dmp_vertex_test/aiplatform-2022-04-07-01:12:19.726-aiplatform_custom_trainer_script-0.1.tar.gz.
INFO:google.cloud.aiplatform.training_jobs:Training Output directory:
gs://dmp_vertex_test/aiplatform-

[2022-04-07 01:33] dmparish42 commented on #451
Note: looking on moma: I found this bug report .. not sure if it is relevant or not but seems related:[
(https://cloud.google.com/python/docs/reference/bigquery/latest/changelog)Bug Fixes

deps: raise exception when pandas is installed but db-dtypes is not ([#1191](https://github.com/googleapis/python-bigquery/issues/1191)) ([4333910](https://github.com/googleapis/python-bigquery/commit/433391097b

[2022-04-07 03:10] andrewferlitsch commented on #419
@TheWispy Thanks for the update. Can you paste in the pipeline code which won't compile?

[2022-04-07 14:07] kweinmeister opened #453 "AutoML Tabular Forecasting notebook error: no row field 'name'"
The [AutoML Tabular Forecasting Batch notebook](https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/notebooks/official/automl/sdk_automl_tabular_forecasting_batch.ipynb) is failing with this error:

[code]

[2022-04-08 18:39] andrewferlitsch commented on #451
I ran the notebook in Workbench and got the same error:

RuntimeError: Training failed with:
code: 3
message: "The replica workerpool0-0 exited with a non-zero status of 1. \nTraceback (most recent call last):\n  File \"/root/.local/lib/python3.7/site-packages/google/cloud/bigquery/_pandas_helpers.py\", line 36, in <module>\n    import db_dtypes  # type: ignore\nModuleNotFoundError: No module name

[2022-04-08 19:37] andrewferlitsch commented on #451
It appears that when the bigquery package is installed, the pandas_helper component is missing a package called db_dtypes. I am manually adding the package to the requirements and see what happens.

[2022-04-14 05:19] skr3178 opened #476 "error"
## Expected Behavior

## Actual Behavior
PermissionDenied: 403 Vertex AI API has not been used in project 720070608347 before or it is disabled.

## Steps to Reproduce the Problem

1. run cells: 42 on notebook 03-cloud-training

## Specifications

- Version: [Time Series Forecasting with Vertex AI and BigQuery ML](https://codelabs.developers.google.com/codelabs/time-series-forecasting-with-cloud-a

[2022-04-14 12:46] manuelamunategui commented on #453
Fix in with PR: https://github.com/GoogleCloudPlatform/vertex-ai-samples/pull/477

[2022-04-18 14:46] kweinmeister commented on #476
Hello, does this issue relate to a notebook contained in this repo?

[2022-04-18 19:15] andrewferlitsch commented on #451
fix by https://github.com/GoogleCloudPlatform/vertex-ai-samples/pull/458

[2022-04-18 19:15] #451 closed

[2022-04-19 09:18] ivanmkc commented on #476
No, the link provided is to a Codelab.

Doing an internal code search shows that the owner is @kweinmeister and the authors are @kweinmeister and @sararob. We can close this issue (due to out-of-scope) and log the bug for wherever Codelab issues are logged.

[2022-04-19 10:11] ivanmkc commented on #424
Any updates on this?

[2022-04-19 14:59] #476 closed

[2022-04-20 00:57] ra312 commented on #424
Hi,
I would be happy to look further into the issue (maybe a PR), but we are moving fast to MVP with Vertex, so currently I am using the same PipelineJob with different versions. So if it helps anyone else, here are the versions I am using right now
google-api-core==1.31.5
google-api-python-client==1.12.11
google-auth==1.35.0
google-cloud-aiplatform==1.11.0
google-cloud-storage==1.44.0
google-clou

[2022-04-27 18:18] andrewferlitsch commented on #424
@ra312 I see what might be a typo. PIPELINE_ROOT should be a folder not a file.

PIPELINE_ROOT = "{BUCKET_URI}/pipeline_root/intro/url.csv"

[2022-04-27 18:19] andrewferlitsch commented on #419
@TheWispy Thanks for the update. Can you paste in the pipeline code which won't compile?

[2022-04-27 19:44] ivanmkc opened #511 "Weekly notebook regression tests are timing out at 24 hours"
Failed tests:

[https://pantheon.corp.google.com/cloud-build/builds;region=us-central1?project=python-docs-samples-tests&pageState=(%22builds%22:(%22f%22:%22%255B%257B_22k_22_3A_22Trigger%2520Name_22_2C_22t_22_3A10_2C_22v_22_3A_22_5C_22vertex-ai-notebook-execution-test-weekly_5C_22_22_2C_22s_22_3Atrue_2C_22i_22_3A_22triggerName_22%257D%255D%22))](https://pantheon.corp.google.com/cloud-build/builds

[2022-04-27 19:49] ivanmkc commented on #511
https://pantheon.corp.google.com/apis/api/cloudbuild.googleapis.com/quotas?project=python-docs-samples-tests

[2022-04-27 19:53] ivanmkc commented on #511
Hm, quota says 50 concurrent builds is the limits. So it might be a max_worker issue with the ThreadPoolExecutor instead...

[2022-04-27 21:18] ivanmkc commented on #511
According to https://docs.python.org/3/library/concurrent.futures.html

[code]

[2022-05-13 21:00] andrewferlitsch commented on #419
been over a month with no response. closing issue by policy

[2022-05-13 21:00] #419 closed

[2022-05-18 22:58] #511 closed

[2022-05-24 11:49] rajantiwari-mlg06 opened #584 "Featurestore Batch data export to CSv using method "batch_read_feature_values" is giving empty result"
## Expected Behavior
It should provide the latest values of features from the featurestore

## Actual Behavior

The column values for features are empty only timestamp and entity_is columns have values.
## Steps to Reproduce the Problem

1.
batch_serving_request = featurestore_service_pb2.BatchReadFeatureValuesRequest(
    # featurestore info
    featurestore=admin_client.featurestore_path(PROJECT

[2022-05-24 12:53] mdh-e-dialog opened #585 "How to deploy a new version of a model"
Hi,

I am automating my training + model deployment via a VertexAI pipeline.
It is a very basic CustomTrainingJobOp -> importer_node.importer -> ModelUploadOp -> ModelDeployOp pipeline taken straight from one of the Vertex AI notebooks on this GitHub.

Now I had a question.
![image](https://user-images.githubusercontent.com/100858137/170036391-654ce9fd-9aab-4cbd-83f3-ab5e5d0d45a5.png)

In the imag

[2022-06-01 19:18] gustavorps opened #601 "TypeError: classification_model_eval_metrics() missing 2 required positional arguments: 'metrics' and 'metricsc' at official/pipelines/automl_tabular_classification_beans.ipynb"
[Tutorial source](https://codelabs.developers.google.com/vertex-pipelines-intro#5)

https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/11f20f3f08f38e1db2a84f45faec86034b397afa/notebooks/official/pipelines/automl_tabular_classification_beans.ipynb?short_path=171e9b6#L927-L933

When I try to compile

[code]

[code]

[2022-06-03 18:22] amygdala opened #610 "vizier example: config cell needs code snippet reordering"
For the [gapic-vizier-multi-objective-optimization.ipynb](https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/notebooks/official/vizier/gapic-vizier-multi-objective-optimization.ipynb) example, the following config cell should run the code to get the project id using `gcloud` **before** running the code to fill in the study display name etc.  (An incorrectly-constructed `PARENT` wil

[2022-06-04 23:18] skr3178 opened #614 "Error: no "view" mailcap rules found for type "image/png""
## Expected Behavior
https://www.youtube.com/watch?v=-2uI3OTYcCE&t=212s

## Actual Behavior
![image](https://user-images.githubusercontent.com/79299617/172028490-083cb29e-7321-4f92-8167-d49384d5930f.png)

## Steps to Reproduce the Problem
where can I find the correct codes?
1.
1.
1.

## Specifications

- Version:Vertex AI
-
- Platform:

[2022-06-08 10:44] clausagerskov commented on #585
same here using KFP, is this currently possible?

[2022-06-08 14:13] startr3k opened #619 "There is no procedure with the name `gds.graph.create.cypher` registered for this database instance. Please ensure you've spelled the procedure name correctly and that the procedure is properly deployed."
## Expected Behavior

## Actual Behavior
Error message : There is no procedure with the name `gds.graph.create.cypher` registered for this database instance. Please ensure you've spelled the procedure name correctly and that the procedure is properly deployed.

## Steps to Reproduce the Problem
The part of the code

"with driver.session(database=DB_NAME) as session:
    result = session.read_trans

[2022-06-08 14:43] TheMichaelHu opened #620 "Linter failing in CI due to dependency conflict"
## Expected Behavior
Linting CI step passes

## Actual Behavior
Due to #606, linting fails with:
[code]
tensorflow-docs wants `protobuf<3.20 and >=3.12.0`

## Steps to Reproduce the Problem

1. Install requirements under .github/workflows/linter

[2022-06-09 23:42] #620 closed

[2022-06-11 01:23] RunningOutOfHair opened #631 "Google Cloud"

[2022-06-11 01:23] RunningOutOfHair commented on #631
Google cloud

[2022-06-13 15:33] andrewferlitsch commented on #585
new features being released at end of ~June should cover these scenarios.

[2022-06-13 15:40] andrewferlitsch commented on #610
fixed

[2022-06-13 15:40] #610 closed

[2022-06-13 15:47] andrewferlitsch commented on #614
The cell `visualize` which has no output appears to have been ran after the kernel was restarted. Note, the [1] in front of the cell in the image, instead of [4]

[2022-06-13 15:47] #614 closed

[2022-06-13 15:48] andrewferlitsch commented on #619
@startr3k which notebook does this issue refer to?

[2022-06-13 15:48] #631 closed

[2022-06-14 04:17] ra312 commented on #424
Thanks, @andrewferlitsch for your help! . It did actually work!

[2022-06-14 04:17] #424 closed

[2022-06-16 21:03] ivanmkc commented on #601
FYI @andrewferlitsch, the latest regression test shows a failure but it's a 500: https://pantheon.corp.google.com/cloud-build/builds/75d65a4d-bdde-4d86-a922-6fcc626c1a10;step=3?project=python-docs-samples-tests

[2022-06-17 21:58] ivanmkc opened #643 "Create a notebook index in the README"
Feedback has been received that it's hard to find a notebook without clicking into it and viewing the contents.

Although there is a curated list at https://cloud.google.com/vertex-ai/docs/tutorials/jupyter-notebooks?hl=en, it does not include all official notebooks and people might not know about that link.

An effort to add an index to this repo should be explored.

[2022-06-17 22:00] ivanmkc commented on #643
One proposal is to auto-generate an index based on a particular marked cell in each ipynb file.

[2022-06-17 22:03] ivanmkc opened #644 "In notebook_template.ipynb, add a blurb for Googlers to inform viewers that the notebook is created by Googlers."
Problem: Some feedback has been given that users may think the "community" notebooks are not authored by Google. In fact, "community" notebooks can be authored by anyone (Googlers and non-Googlers alike), but are just not maintained.

Although this is described in the repo's README, users might not read that. To mitigate this, we propose the creation of a short blurb in the notebook_template.ipynb

[2022-06-21 00:12] ssistla1998 opened #646 "Import error while running query on match engine service"
## Expected Behavior
The line 'import match_service_pb2' in the notebook should run without any errors

## Actual Behavior
Throws the error
---> 18 DESCRIPTOR = _descriptor_pool.Default().AddSerializedFile(b......)
TypeError: Couldn't build proto file into descriptor pool!
Invalid proto descriptor for file "match_service.proto":
  google.cloud.aiplatform.container.v1beta1.MatchRequest.deployed_ind

[2022-06-21 14:19] ivanmkc commented on #646
Can you provide to the link to the file in question?

[2022-06-21 16:13] ssistla1998 commented on #646
https://colab.research.google.com/drive/13UfI6CJKXCtDeDdQKig5ZJk23-eQAX8-#scrollTo=1urwW_CcZ-vc

[2022-06-21 17:38] ivanmkc opened #647 "Model monitoring notebook failing on weekly regression test."
Build log (you might not have access): https://pantheon.corp.google.com/cloud-build/builds;region=us-central1/ea184a8b-a6a7-40c3-b3a2-c2076f81c4fc?project=python-docs-samples-tests

See attached notebook:
[model_monitoring.ipynb.zip](https://github.com/GoogleCloudPlatform/vertex-ai-samples/files/8951154/model_monitoring.ipynb.zip)

[2022-06-22 02:12] hyunuk opened #672 "Broken link in the notebook"
The notebook in [vertex-ai-samples/notebooks/official/migration/UJ15 Vertex SDK AutoML Object Tracking.ipynb](https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/notebooks/official/migration/UJ15%20Vertex%20SDK%20AutoML%20Object%20Tracking.ipynb) has several broken links that are just redirected to `todo`.

I tried to run it in Colab but [the link](https://colab.research.google.com/

[2022-06-22 02:46] ivanmkc opened #675 "`aiplatform.datasets._Dataset.list()` doesn't show any datasets."
The reason is the lack of any `_supported_metadata_schema_uris`s for this base class, so the following filter returns nothing:

[code]

This may be a bug or by design.

One could argue that this is a method on a private class and shouldn't be called. Will defer to SDK team.

[2022-06-22 03:20] #675 closed

[2022-06-22 17:04] leahecole commented on #672
cc @andrewferlitsch - last person who committed to this notebook

[2022-06-22 18:14] andrewferlitsch commented on #341
latent errors in notebook ingestion testing. We now have new versions of the notebooks/PRs. Closing as obsolete.

[2022-06-22 18:14] #341 closed

[2022-06-22 18:15] andrewferlitsch commented on #647
I observed the same while trying to update the notebook to current notebook standard. Something about monitoring_config is empty.

[2022-06-22 18:19] #672 closed

[2022-06-23 13:39] SophieBoule99 opened #688 "Question: How to get explanations while using Batch Predictions"
## Expected Behavior
I am trying to get explanations while using batch_predict() on a custom xgboost model. This notebook is the only example I have found of a non-tensorflow implementation of explainable AI. I have managed to get explanations using an endpoint. When running batch_predict() (from bigquery to bigquery) through a vertex pipeline I am expecting the output bigquery table to be appende

[2022-06-23 16:47] ivanmkc commented on #688
Which notebook are you referring to?

[2022-06-23 16:49] ivanmkc commented on #643
@andrewferlitsch AFAIK you are doing some work that will mitigate this. Let me know if I should reassign.

[2022-06-23 19:11] andrewferlitsch commented on #643
Work in progress and being evaluated by TW. Next will be a draft updated content strategy proposal that will supercede this issue.

[2022-06-24 16:07] SophieBoule99 commented on #688
I am refering to this notebook: https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/notebooks/community/explainable_ai/SDK_Custom_Container_XAI.ipynb
It gives an example of enabling explanations on a non-tensorflow model but only deploys it to an endpoint. It does not use it for batch predictions.

[2022-06-26 09:36] mco-gh commented on #647
Hi folks,

Sorry for the delay, I've been busy with a bunch of customer engagements.
I'll take a look at this on Monday (tomorrow).

Marc

On Wed, 22 Jun 2022 at 19:15, Andrew Ferlitsch ***@***.***>
wrote:

[2022-06-27 15:23] mco-gh commented on #647
Actually better make that next Monday (July 4). I have to give three talks
tomorrow and then I'll be ooo wed-fri of this week.

On Sun, Jun 26, 2022, 10:36 AM Marc Cohen ***@***.***> wrote:

[2022-06-27 17:34] ssistla1998 commented on #646
Hi, any update?

[2022-06-27 21:39] yuhuayang-google commented on #619
This is regarding https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/notebooks/community/neo4j/graph_paysim.ipynb

Already fixed by https://github.com/GoogleCloudPlatform/vertex-ai-samples/commit/24904a5999d4050863fab9324a624956e7cffad6

You should be able to close this out.

[2022-06-28 08:15] ma-batita opened #697 "Missing XLA configuration on jupyterLab vertex"
## Expected Behavior
the 'TrainingArguments' should not give me the XLA error because I am not using TPU. I am working on GPU only

## Actual Behavior
with the trainingarg
`
args = TrainingArguments(
    evaluation_strategy="epoch",
    learning_rate=2e-5,
    per_device_train_batch_size=batch_size,
    per_device_eval_batch_size=batch_size,
    num_train_epochs=1,
    weight_decay=0.01,
    outpu

[2022-06-28 15:44] nicain commented on #697
Triaging to @andrewferlitsch. Might be more appropriate for @RajeshThallam.

[2022-06-28 16:33] andrewferlitsch commented on #697
@ma-batita Can you let us know which tutorial you had the error.

btw> XLA works for GPUs and TPUs. Perhaps you using a CPU training image with a GPU?

[2022-06-28 17:09] andrewferlitsch commented on #697
@ma-batita fyi> from notebook author
Hi Andrew, not completely sure but looking at the TrainingArguments it appears to be the community content notebook I own. I believe the issue they are reporting could be because they are running training code locally on a CPU based notebook instance

[2022-06-28 17:10] RajeshThallam commented on #697
@ma-batita

- Are you running [this tutorial](https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/community-content/pytorch_text_classification_using_vertex_sdk_and_gcloud/pytorch-text-classification-vertex-ai-train-tune-deploy.ipynb) on Vertex AI Workbench notebook?
- If you running on Vertex AI Workbench notebooks, can you let us know if you have GPU attached to instance? and what

[2022-06-29 07:23] ma-batita commented on #697
@RajeshThallam @andrewferlitsch thanks you for your responses.
I think the problem is coming from vertex itself. I manage to surpass the error by just uninstalling torch xla `!pip uninstall torch-xla`.

thanks!

[2022-06-29 07:23] #697 closed

[2022-06-30 10:32] Dudledood opened #700 "RuntimeError: Training failed with: code: 8 message: "The following quota metrics exceed quota limits: aiplatform.googleapis.com/custom_model_training_nvidia_k80_gpus""
## Expected Behavior
train model successed

## Actual Behavior
RuntimeError: Training failed with: code: 8 message: "The following quota metrics exceed quota limits: aiplatform.googleapis.com/custom_model_training_nvidia_k80_gpus"

## Steps to Reproduce the Problem

1.here my colab: https://colab.research.google.com/drive/1W_friSAYA2WowY0tOB8XiL2rhm5xGGSq?usp=sharing
(have few modify from https://

[2022-06-30 11:09] clausagerskov commented on #585
is there some documentation of these new features?

[2022-07-07 18:40] ssistla1998 commented on #646
Hi any update?

[2022-07-15 00:12] hilliao opened #724 "is it possible to pass script_path="task.py" to CustomTrainingJobOp?"
I observe the [google_cloud_pipeline_components.v1.custom_job.CustomTrainingJobOp](https://google-cloud-pipeline-components.readthedocs.io/en/google-cloud-pipeline-components-0.2.1/google_cloud_pipeline_components.experimental.custom_job.html) may not have a parameter to accept a script path like the following [code section](https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/notebo

[2022-07-19 12:47] sarmientoj24 opened #730 "Is it possible to use the same validation data as test data?"
It seems that this is not possible.

[2022-07-20 18:53] kweinmeister commented on #730
It's possible but generally not recommended. Does this question relate to a notebook in this repo?

[2022-07-22 15:17] lanhwang opened #740 "ModuleNotFoundError: No module named 'preprocess' when running the sample notebook SDK_Custom_Predict_and_Handler_SDK_Integration.ipynb"
## Expected Behavior
The model should be deployed to local endpoint by running
[code]
## Actual Behavior
Got the error as below:
[code]

## Steps to Reproduce the Problem

Follow [SDK_Custom_Predict_and_Handler_SDK_Integration.ipynb](https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/notebooks/community/prediction/custom_prediction_routines/SDK_Custom_Predict_and_Handler_SDK_Integr

[2022-07-26 11:44] sayakpaul opened #743 "Problem with TF runtime optimized deployment"
## Expected Behavior

Referring to this notebook: https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/notebooks/community/vertex_endpoints/optimized_tensorflow_runtime/bert_optimized_online_prediction.ipynb.

## Actual Behavior

Deployment with the TF runtime should pass.

## Steps to Reproduce the Problem

1. Run https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/no

[2022-07-26 11:45] sayakpaul commented on #743
@vlasenkoalexey

[2022-07-26 11:51] sayakpaul commented on #743
Same happens with `tf_opt_lossy_gpu_deployed_model` too:

[downloaded-logs-20220726-172037.json.zip](https://github.com/GoogleCloudPlatform/vertex-ai-samples/files/9189481/downloaded-logs-20220726-172037.json.zip)

[2022-07-26 16:35] vlasenkoalexey commented on #743
Looks like you modified Colab and trying to deploy your models on NVIDIA K80:
[code]
Optimized TensorFlow Runtime is not supporting old GPUs, see documentation: https://cloud.google.com/vertex-ai/docs/predictions/optimized-tensorflow-runtime

[2022-07-26 16:59] sayakpaul commented on #743
Sorry for flagging this without reading the documentation. Maybe including a note about it in the Colab would be helpful?

[2022-07-26 16:59] #743 closed

[2022-07-26 18:11] abcdefgs0324 commented on #740
Hi, thanks for the feedback. We are in the middle of the notebook updates.

[2022-07-27 13:31] sayakpaul opened #748 "Extending the TRT text classification example to images"
@vlasenkoalexey

I am trying to extend your TRT example to images. I am trying a Vision Transformer architecture based on Transformers (like BERT). So, I think it should be fairly well supported. I am not sure how should I export the model in that case.

I tried with an approach, but that failed with the request payload. Here is my notebook (apologies for the rough edges in the code): https://gist

[2022-07-27 16:29] vlasenkoalexey commented on #748
It is common to take some time to figure out how prediction requests should look like.
First, make it working locally using OSS TensorFlow Serving container running in docker. Sample has instructions how to do that.
Check model signatures using saved_model_cli, as far as I understand it expects dictionary where image bytes are expected (it is likely going to be loaded.signatures["serving_default"]

[2022-07-27 16:34] sayakpaul commented on #748
Thanks.

I have a notebook where I have verified if the model works locally with TF Serving (both for REST and gRPC): https://github.com/sayakpaul/deploy-hf-tf-vision-models/blob/main/hf_vision_model_tfserving.ipynb.

Note that the model export varies in that notebook in that I am making the model take strings as input, decode that on the fly, and then perform predictions.

[2022-07-27 19:39] RubensZimbres opened #749 "Vertex AI - Endpoint Call with JSON - Invalid JSON payload received"
I successfully trained and deployed a Tensorflow Recommender model on Vertex AI, Tensorflow 2.8.

Everything is online and to predict the output. In the notebook I do:

    loaded = tf.saved_model.load(path)
    scores, titles = loaded(["doctor"])

That returns:

    Recommendations: [b'Nelly & Monsieur Arnaud (1995)'
     b'Three Lives and Only One Death (1996)' b'Critical Care (1997)']

That is,

[2022-07-27 21:11] RubensZimbres commented on #749
Looks like the base64 encoding of the sample notebook is not right. This works perfectly:

    def encode_64(input):
        message = input
        message_bytes = message.encode('ascii')
        base64_bytes = base64.b64encode(message_bytes)
        base64_message = base64_bytes.decode('ascii')
        return base64_message

    instances_list = [{serving_input: {"b64": encode_64("doctor")}}]

[2022-07-28 19:35] ivanmkc commented on #646
Hi, sorry was out of office. I can't access your link.
This is the link to the proper usage of matching engine: https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/notebooks/community/matching_engine/sdk_matching_engine_for_indexing.ipynb

Does that help?

[2022-07-29 17:37] andrewferlitsch commented on #748
appears that the question has been answered

[2022-07-29 17:37] #748 closed

[2022-07-29 21:00] entrpn commented on #749
You have extra curly braces around your input data. Try something like:

[code]

Assuming you are using a [GCP prebuilt container](https://cloud.google.com/vertex-ai/docs/predictions/pre-built-containers), this is endpoint launches the equivalent of a [TF Serving container](https://www.tensorflow.org/tfx/guide/serving) and you can test your model locally with a container before pushing to an endpo

[2022-07-31 03:40] sayakpaul commented on #748
@vlasenkoalexey so, after studying your suggestion, it looks like I need the model to accept image URIs (GCS URIs)? Because sending over multiple image bytes (i.e., bytes of multiple images) seems to be still broken ([reference](https://github.com/GoogleCloudPlatform/practical-ml-vision-book/blob/master/09_deploying/09d_bytes.ipynb))?

[2022-08-03 22:05] #749 closed

[2022-08-04 18:37] jakepaw opened #815 "Question: Notebook to use Feature Store values in Model training / Batch Predictions"
Hello,

I have a general question to gather if there are any examples or plan to be examples of how to use the features we store in feature store. I have walked through the notebooks using Feature Store, which show how to gather values online /offline but there is no notebook describing how to ingest those features for other aspects of Vertex AI (Into a pipeline for predictions or used to train mo

[2022-08-04 20:32] tottenjordan opened #816 "Beam pipeline error in notebooks > community > ml_ops > stage1 > mlops_data_management.ipynb"
## Expected Behavior
In [mlops_data_management.ipynb](https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/notebooks/community/ml_ops/stage1/mlops_data_management.ipynb), expecting the dataflow pipeline to run successfully

## Actual Behavior
get error:
[code]

## Steps to Reproduce the Problem

Run [mlops_data_management.ipynb](https://github.com/GoogleCloudPlatform/vertex-ai-sample

[2022-08-06 17:37] gkoutsos9 opened #831 "Error Deploying Model to Endpoint"
## Expected Behavior
Successful model deployment to endpoint

## Actual Behavior
The main issue is that the model files are not being found.  My local deployment works fine
`message: "FileNotFoundError: [Errno 2] No such file or directory: 'gs://caip-tenant-ce69a46c-084d-4544-848d-c03a033614ed/4665065108932657152/artifacts/ohe.joblib'"`

## Steps to Reproduce the Problem
Following this guide: http

[2022-08-06 20:25] sayakpaul opened #832 "Extending to batched inputs"
Referring to https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/notebooks/community/ml_ops/stage6/get_started_with_tf_serving_function.ipynb.

How can I include multiple encoded image strings in a single request?

In particular,

[code]

Here `b64str` is just one single image.

Cc: @andrewferlitsch

[2022-08-07 04:34] sayakpaul commented on #832
Furthermore, how would I need to construct the request payloads when using the TF runtime as shown in [this notebook](https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/notebooks/community/vertex_endpoints/optimized_tensorflow_runtime/bert_optimized_online_prediction.ipynb)?

[2022-08-07 22:15] #831 closed

[2022-08-08 21:24] ivanmkc commented on #312
Fixed in https://github.com/GoogleCloudPlatform/vertex-ai-samples/pull/836

[2022-08-09 20:47] andrewferlitsch commented on #643
work in progress

[2022-08-09 20:58] #619 closed

[2022-08-09 21:03] andrewferlitsch commented on #730
Does not appear to relate to a notebook tutorial. Karl answered the general question

[2022-08-09 21:03] #730 closed

[2022-08-09 21:15] andrewferlitsch commented on #832
@sayakpaul As a list:

instances = [{serving_input: {"b64": b64str_1}},
                      {serving_input: {"b64": b64str_2}},
]

[2022-08-09 21:15] #832 closed

[2022-08-10 00:48] sayakpaul commented on #832
@andrewferlitsch thank you, but how should they be structured if I were to create a warmup request payload for TF runtime ([reference](https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/notebooks/community/vertex_endpoints/optimized_tensorflow_runtime/bert_optimized_online_prediction.ipynb))?

[2022-08-10 18:26] jaycee-li opened #850 "Missing end_run() in Experiments sample notebook"
A customer is following the [Track parameters and metrics for custom training jobs](https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/notebooks/official/ml_metadata/sdk-metric-parameter-tracking-for-custom-jobs.ipynb) tutorial. However, the state is in constant running when viewing in UI.
<img width="1746" alt="image" src="https://user-images.githubusercontent.com/102714969/183988

[2022-08-10 20:22] hyunuk opened #851 "Why don't we use a built-in UUID package for the template?"
There's a built in library for [UUID](https://docs.python.org/3/library/uuid.html) in python.

[2022-08-11 00:23] #851 closed

[2022-08-11 16:06] ivanmkc commented on #646
Closing due to no response.

[2022-08-11 16:06] #646 closed

[2022-08-11 16:06] #312 closed

[2022-08-11 16:44] sayakpaul commented on #832
@andrewferlitsch any inputs?

[2022-08-12 17:04] andrewferlitsch commented on #850
Submitted fix in PR https://github.com/GoogleCloudPlatform/vertex-ai-samples/pull/863

[2022-08-17 11:25] brandtoliver commented on #585
@andrewferlitsch any news on this?

[2022-08-19 01:30] Ark-kun commented on #349
@natetsang If you want an easy way to upload models to Vertex Model Registry, you can use my components: https://github.com/Ark-kun/pipeline_components/tree/KFPv2_hell/components/google-cloud/Vertex_AI/Models
Example usage: https://github.com/Ark-kun/pipeline_components/blob/05b2f255f8ccd7d8588f8143a76536bf83c2c7c7/samples/Google_Cloud_Vertex_AI/Train_tabular_regression_model_using_TensorFlow_and_

[2022-08-23 14:18] JorritWillaert opened #894 "PyTorch is using the GPU on a container on my local machine, but is unable to use the GPU on Vertex AI"
## Expected Behavior
I want to use a GPU on a component of Vertex AI.

## Actual Behavior
Unfortunately,  `torch.cuda.is_available()` is returning `False`. Also, `nvidia-smi` is not working if ran in the container of Vertex AI.
Note: both commands also don't work locally in the container if I'm not specifying the `--gpus all` flag in the command `docker run --rm  -it --gpus all ee97db5bbd98 /bin/b

[2022-08-23 18:52] RubensZimbres opened #897 "Matching Engine ANN: _InactiveRpcError, failed to connect to all addresses"
I successfuly developed and deployed a Two Towers model in Vertex AI. Now, I'm using the following notebook to get inference from an Endpoint in Matching Engine: https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/notebooks/official/matching_engine/sdk_matching_engine_for_indexing.ipynb

All indexes are successfully created and deployed, peering is connected, firewalls ok, IndexEndp

[2022-08-24 12:27] JorritWillaert commented on #894
Has been resolved by tweaking the Docker image. The issue was not related to the pipeline code mentioned above.

[2022-08-24 12:27] #894 closed

[2022-08-26 20:08] #850 closed

[2022-08-26 20:11] andrewferlitsch commented on #724
@hilliao Sorry for the late response.
CustomPythonPackageTrainingJob takes an entire python package.

CustomTrainingJob does accept script_path=task.py.

It is CustomContainerJob where the script is burned into the container,

[2022-08-26 20:11] #724 closed

[2022-08-31 15:05] andrewferlitsch commented on #816
I seen that error occur when there is a mismatch between TF and TFDV versions

[2022-09-02 13:36] niladridutt opened #922 "Matching engine deny list not working"
Reposting from stackoverflow- https://stackoverflow.com/questions/73565771/how-does-google-vertex-ai-matching-engine-deny-list-work

[2022-09-05 09:36] leclem opened #925 "Changing region in the model monitoring notebook make it fail as the dataset is only in us-central1"
## Expected Behavior
Being able to run the notebook without an error even if region is changed, or to not allow/suggest user to change region
https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/notebooks/official/model_monitoring/model_monitoring.ipynb

## Actual Behavior
An error is sent if region of endpoint/model monitogine is changed from us-central1

## Steps to Reproduce the P

[2022-09-05 15:45] niladridutt commented on #922
Can you please help me with this?- @proppy @olegshaldybin @dazuma @fhirschmann

[2022-09-07 23:47] skeller88 opened #931 "How come NVIDIA driver installation isn't needed in pytorch_image_classification_single_gpu_with_vertex_sdk_and_torchserve?"
## Expected Behavior
In the [pytorch_image_classification_single_gpu_with_vertex_sdk_and_torchserve](https://github.com/GoogleCloudPlatform/vertex-ai-samples/tree/main/community-content/pytorch_image_classification_single_gpu_with_vertex_sdk_and_torchserve) example, I would expect there to be a driver installation step for the pipeline to use the GPU.

## Actual Behavior
Does the [pytorch image](h

[2022-09-08 07:47] stephbigotti commented on #585
+1 please

[2022-09-08 08:43] edday1 commented on #585
+1 please too.

[2022-09-09 14:08] samhedin opened #937 "Broken example notebook: google_cloud_pipeline_components_model_train_upload_deploy.ipynb"
## Short summary
Many different strategies fail, the one that I get furthest with fails with infinite loop in vertex ai pipelines:
[code]

## Expected Behavior
This notebook should run without issues on both Colab and on AI Workbench.

## Actual behavior

### AI workbench
AI workbench can not load the file. Clicking "Open in Vertex AI workbench" here https://github.com/GoogleCloudPlatform/vertex-a

[2022-09-12 08:01] verhoek opened #941 "Unexpected costs by executing a sample notebook"
## Expected Behavior

By reading the sample notebook https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/notebooks/official/experiments/comparing_local_trained_models.ipynb, I expected to not be charged $300 by running the underlying compute engine for just a few minutes.

Expected would have been a disclaimer near the text:

_"[Select or create a Google Cloud project](https://conso

[2022-09-12 14:53] alexdashkov commented on #585
It's possible now if you're working with the python SDK (I din't find a possibility to go trough the pure API yet) .
This is a snippet I use:
[code]
Where you specify:
-  `model_id="some-unique-id"` and `parent_model=None`, if you want to create a new model.
- `model_id=None` and `parent_model="some-unique-id"`, if you want to add a version to already existing model.

[2022-09-13 16:16] andrewferlitsch commented on #601
I ran the notebook in Workbench with the latest version of Vertex AI SDK. The notebook ran to completion w/o errors

[2022-09-13 16:16] #601 closed

[2022-09-16 18:24] andrewferlitsch commented on #740
Chun-Hsiang Wang, 1 min
Hi Andrew, do you mind closing this issue since it has been fixed https://github.com/GoogleCloudPlatform/vertex-ai-samples/issues/740?

[2022-09-16 18:24] #740 closed

[2022-09-16 19:47] ivanmkc commented on #931
According to our guidelines, the community-content folder has no support provided. The original author is no longer available to support this sample.

@andrewferlitsch do you have an answer to this question about Vertex AI pipelines? https://stackoverflow.com/questions/73642322/running-custom-docker-container-with-gpu-using-vertex-ai-pipelines-how-to-inst

[2022-09-16 19:48] ivanmkc commented on #941
@inardini can you address the comments regarding your notebook?

[2022-09-16 21:50] andrewferlitsch commented on #937
@samhedin First, I like to thank the level and detail you debugged this notebook.

1. Open in Workbench -- fixed, wasn't using the raw format in the link.
2. Dependency errors in pip -- fixed -- consolidated into a single pip install for all packages
3. Service account setting in Colab -- investigating

[2022-09-18 13:30] samhedin commented on #937
Great!
I realize in hindsight that it might have been easier to keep these as separate issues to make tracking them individually easier.
Do you need any more information regarding the last error message?
[code]

[2022-09-19 12:33] inardini commented on #941
Thanks for the feedback. @ivanmkc I will open a PR to update the notebook accordingly.

[2022-09-23 08:57] SaschaHeyer commented on #585
@alexdashkov made a great example with the SDK.
It's also supported via API (Google is usually API first)

I have written an article on how to use Vertex AI Model Registry's Versioning functionality
https://medium.com/google-cloud/google-vertex-ai-model-versioning-72696bccd0d2

[2022-09-23 22:39] #931 closed

[2022-09-23 22:45] mattcarrolldev commented on #922
@niladridutt this repos issues are for issues with Vertex AI samples. If you are having a issue with one of the samples please open a new issues and include in the issue itself:

1. a detailed description of the issues
2. A full list of steps to reproduce the issue
3. The expected result
4. The actual result

Please also include any other information/materials that would help with reproducing your

[2022-09-23 22:45] #922 closed

[2022-09-27 18:38] andrewferlitsch commented on #816
Fixed by PR
https://github.com/GoogleCloudPlatform/vertex-ai-samples/pull/997

[2022-09-27 18:38] #816 closed

[2022-09-27 19:14] andrewferlitsch commented on #937
Fixed by PR:
https://github.com/GoogleCloudPlatform/vertex-ai-samples/pull/998

[2022-09-27 19:14] #937 closed

[2022-10-06 01:57] brianchunkang opened #1122 "IMPORT_FILE variable not set in Notebook"
## Expected Behavior
IMPORT_FILE is set to a local file/GCS path

## Actual Behavior
Called in gsutil command but not set in notebook

## Steps to Reproduce the Problem

1. Go to the gsutil step that uses IMPORT_FILE in this notebook, and it will create blank files: https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/notebooks/official/explainable_ai/sdk_custom_tabular_regression_ba

[2022-10-10 19:57] anagha-google opened #1135 "Spark Pipelines Notebook - Issue with online serving"
## Expected Behavior
Predictions in response to request

## Actual Behavior
Error message-

`<!DOCTYPE html>
<html lang=en>
  <meta charset=utf-8>
  <meta name=viewport content="initial-scale=1, minimum-scale=1, width=device-width">
  <title>Error 502 (Server Error)!!1</title>
  <style>
    *{margin:0;padding:0}html,code{font:15px/22px arial,sans-serif}html{background:#fff;color:#222;padding:15px}

[2022-10-13 15:39] jth1911 opened #1162 "aiplatform.featurestore.entity_type.read() not in SDK"
## Expected Behavior
1. Feature values should be returned.

## Actual Behavior

AttributeError: 'EntityType' object has no attribute 'read'

## Steps to Reproduce the Problem
1. Create a user entity_type and call the read method

## Specifications
- Version: Python 3.7
- Platform: Linux

[2022-10-13 18:59] jth1911 commented on #1162
Please ignore as I overlooked the method.  It does exist.

[2022-10-17 16:41] andrewferlitsch commented on #647
regression failure previously fixed

[2022-10-17 16:41] #647 closed

[2022-10-17 16:53] davidcavazos commented on #1162
Thanks for the clarification, I'm closing this.

[2022-10-17 16:53] #1162 closed

[2022-10-17 18:43] andrewferlitsch commented on #1122
Fixed in PR 1173

[2022-10-17 18:43] #1122 closed

[2022-10-17 23:15] andrewferlitsch commented on #1135
@anagha-google This appears to have been a transitory issue with the backend service, and not the notebook tutorial. I ran the notebook to completion without any errors. Thanks for alerting us.

[2022-10-17 23:15] #1135 closed

[2022-10-18 00:56] andrewferlitsch commented on #925
@leclem Vertex AI doesn't support cross-region resource access. You would need to create a dataset in the new region

[2022-10-18 00:56] #925 closed

[2022-10-20 01:10] andrewferlitsch commented on #643
This task was completed

[2022-10-20 01:10] #643 closed

[2022-10-20 01:13] andrewferlitsch commented on #585
This notebook shows how to register model versions using pipeline components

[2022-10-20 01:13] andrewferlitsch commented on #585
https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/notebooks/community/ml_ops/stage6/get_started_with_xgboost_model_online.ipynb

[2022-11-09 15:51] jmandivarapu1 opened #1228 "VertexAI Pytorch dataloader"
## Expected Behavior
I am using VertexAI pipeline which does have only two modules.
1. M1 : Create Datasets (which is just pytorch dataloader) and sent the output to
2. M2: Training

But the problem is that when print the dataset in M2. It is not sending the pytorch dataloader the previous model is sending ```artifact_types.Datase``` . It would be great if any can help how to send pytorch dataload

[2022-11-09 17:13] fedprt opened #1230 "Matching Engine: Queries with filtering do not work as expected"
I tried to run this notebook: https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/notebooks/community/matching_engine/stream_update_for_matching_engine.ipynb
I got an issue with the filtering step:
Let's say glove100.json is:

[code]

If I try to filter in this way:

[code]

I do not get any response (empty result). If from the above code I remove the "restrict block", it works (of

[2022-11-09 17:32] andrewferlitsch commented on #941
was fixed by Ivan Nardini

[2022-11-09 17:32] #941 closed

[2022-11-14 20:47] ivanmkc commented on #897
Closed due to self-resolution.

[2022-11-14 20:47] #897 closed

[2022-11-14 21:09] ivanmkc commented on #1230
Let me redirect this to the backend team.

[2022-11-14 23:03] ivanmkc commented on #1230
I feel like the sample has a bug. I would think that "a" and "b" should be in `allow_list` and not in the `crowding_tag` attribute.

[2022-11-14 23:04] ivanmkc commented on #1230
crowding_tag is explained here and doesn't seem relevant to filtering except as a limiter: https://cloud.google.com/python/docs/reference/aiplatform/latest/google.cloud.aiplatform_v1.types.IndexDatapoint.CrowdingTag

[2022-11-15 10:48] fedprt commented on #1230
Hi @ivanmkc, Thank you for replying! :)

What do you mean by "sample has a bug"?
1) My data are the glove100.json generated like [here](https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/notebooks/community/matching_engine/stream_update_for_matching_engine.ipynb) and I did not change anything, and if there is a bug I expect that also the query without filtering does not work. I att

[2022-11-16 10:25] felattaoui opened #1251 "Installation of scikit learn inside @component do not work and the deployment of the model as well"
## Expected Behavior
Deploying a sklearn pipeline

## Actual Behavior
The pipeline fails for at least 2 reasons I have identified :
to install scikit-learn, you should write scikit learn in the package to install not sklearn (deprecated).
I think that we should add "db-dtypes" as well.
Last thing, I think that since some updates in scikit-learn and joblib the dump of the model do not work properly

[2022-11-18 06:27] peterping666 commented on #1230
Hi @fedprt,

For the filtering step, did you initialize the request by
[code]
If not yet, maybe you can try to see if that can fix the issue. In your example, it could look like this:
[code]

[2022-11-21 21:03] ivanmkc opened #1269 "Custom training that uses BigQuery Python library should use an explicit PROJECT_ID"
## Expected Behavior
Some notebooks that demonstrate custom training use an inferred project:

[code]

This will cause permission issues. See:

See https://cloud.google.com/vertex-ai/docs/workbench/managed/executor#explicit-project-selection.

## Solution
Use an explicit project id:

[code]

[2022-11-22 18:13] NelsonFrancisco opened #1282 "Online prediction with BigQuery ML: FailedPrecondition: 400 Model <something> is not exportable from BigQueryML."
## Expected Behavior
To run the tutorial successfully, and the step "model.deploy(endpoint=endpoint)" to actually deploy the model to the newly created endpoint

## Actual Behavior
This error happens:
[code]

The region of the Workbench machine is `europe-west1`.

The BigQuery dataset, the VertexAI model that is created and stored in the registry during the tutorial, and the VertexAI endpoint are

[2022-11-22 21:39] ivanmkc opened #1288 "Add timeout to notebook execution so notebook output can be saved."
If your build times out due to Cloud Build timeout arg, it doesn't finish running the code to save the notebook to GCS for inspection.

The fix is to use something like https://pypi.org/project/wrapt-timeout-decorator/ to wrap the execution (since papermill doesn't have a timeout parameter by itself).

See https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/19d56c0fa0ec92cc859867b701776c

[2022-11-22 21:40] ivanmkc commented on #1288
You'd also need to remove the Cloud Build timeout here: https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/19d56c0fa0ec92cc859867b701776c14cdba0dc1/.cloud-build/execute_notebook_remote.py#L92

[2022-11-23 14:52] fedprt commented on #1230
Hi @peterping666 ,

I confirm I initialized the request as you said,  just I did not paste the 2 code rows.

[2022-11-28 14:20] wardVD opened #1304 "AutoML google_cloud_pipeline_components dataset creator not working anymore"
Recently the AutoML `ImageDatasetCreateOp` from `google_cloud_pipeline_components` has started failing.

The example https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/notebooks/official/pipelines/google_cloud_pipeline_components_automl_images.ipynb does not seem to be working anymore.

![image](https://user-images.githubusercontent.com/2136274/204300234-6ab8836b-adc0-4aaa-8460-088

[2022-11-30 07:24] AharonSterman opened #1311 "outdated code, vertexAi doesn't have Model"
## Expected Behavior
code should run

## Actual Behavior
Model not retrieved

<img width="889" alt="Screen Shot 2022-11-30 at 9 21 41" src="https://user-images.githubusercontent.com/109730859/204733081-9d90bca4-4fe3-4500-b915-169ba481b64a.png">

![Screen Shot 2022-11-30 at 9 23 25](https://user-images.githubusercontent.com/109730859/204733542-7fe2019e-945a-4eed-abec-1c583bb5510c.png)

## Steps to

[2022-11-30 08:58] ahmad-alismail opened #1312 "PyTorch_text_classification: Should the model be moved into gpu?"
## Expected Behavior
Model training is expected to finish in ca. 30 minutes using gpu

## Actual Behavior
Model training takes hours without using the available gpu in the notebook

## Steps to Reproduce the Problem
Run [pytorch text classification tutorial](https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/community-content/pytorch_text_classification_using_vertex_sdk_and_gcloud/